/* Font Family From Google APIs */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply bg-[#fff] font-raleway;
  }
}

.custom-shadow {
  box-shadow: "0px 3px 10px 0px #000000A8";
}

.linkcard_image {
  max-width: 68px;
  max-height: 77px;
  background-image: url("../assets/placeholder.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
